Consonants are produced with an obstruction to the airflow. Consonants can be classified according to the <span class="def">place</span> and <span class="def">manner</span> of this obstruction. The [consonant chart]({% link consonants.md %}) is structured according to these two dimensions of place and manner. 

### Terms referring to place

- labial -- with the lips
- alveolar -- with the tongue on the ridge behind the fronth teeth; note that the affricate sounds begin at the alveolar place and the transition to another place
- dental -- with the tongue teeth behind the upper teeth or between the teeth
- lateral -- with the the tongue pressed against the ridge behind the teeth, but allowing air to flow around the sides of the tongue
- palatal -- with the tongue against the roof of the mouth
- velar -- with the back of the tongue pressed toward the back of mouth
- glottal -- at the glottis, or vocal folds 

### Terms referring to manner

- stop -- completely obstructing the airflow
- affricate -- a combination of a stop with a fricative
- fricative -- allowing air to flow roughly, with much friction noise
- sonorants -- allowing air to flow most freely, almost like a vowel
- voiced -- with the vocal folds vibrating
- voiceless -- without the vocal folds vibrating
