Tanacross orthographic <b>e</b> actually represents two distinct phonemes: a mid-front vowel /e/ and a lowered mid-front vowel /&#x025B;/. The contrast between these phonemes is neutralized in stem (final) syllables, where the lowered variant occurs preceding glottal consonants and the raised variant occurs elsewhere. Thus compare <b>-ke'</b> [-ke&#x294;] 
 'foot' versus <b>k'et</b>[k'&#x25B;t] 'on'.
<br/><br/>
In prefix syllables orthographic <b>e</b> may represent either of the phonemes  /e/ or /&#x25B;/. However, preceding a glottal consonant <b>e</b> is realized as /e/. 
<br/><br/>
In contrast, long <b>ee</b> always corresponds to the mid-front vowel phoneme /e/ and is pronounced as [e]. Thus, in existing Tanacross materials long <b>ee</b> is often used to represent both short /e/ and short /&#x25B;/. In practice, in prefix syllables short <b>e</b> is used almost exclusively to indicate vowel length (short) rather than quality. Thus, in the first example below the <b>e</b> in the first syllable is short, whereas, in the last example the <b>ee</b> in the first syllable (corresponding to the postpositional object prefix <b>nee-</b> is long. In the second example short <b>e</b> represents a lowered mid-front vowel.<br/><br/>
<b>mech’axdekdiix</b> [me&#x10D;axd&#x25B;ktiix] 'I am teaching him' <br/>
<b>xetlghihtii&#322;</b> [x&#x25B;tlghiht<sup>h</sup>ii&#322;] 'I am driving a sled'<br/>
<b>nee'ech’axdehdiix</b> [nee'e&#x10D;axdehtiix] 'she is teaching us' <br/>
