Tanacross orthographic <b>e</b> actually represents two distinct phonemes: a mid-front vowel /e/ and a lowered mid-front vowel /&#x025B;/. The contrast between these phonemes is neutralized in stem (final) syllables, where the lowered variant occurs preceding glottal consonants and the raised variant occurs elsewhere. Thus compare</p>
<table border="0" align="center" cellpadding="5" cellspacing="5">
<tr>
<td><b>-ke'</b></td>
<td>/-ke'/</td>
<td>[-ke&#x294;]</td>
<td>'foot'</td>
</tr>
<tr>
<td><b>k'et</b></td>
<td>/k'&#x25B;t/</td>
<td>[k'&#x25B;t]</td>
<td>'on'</td>
</tr>
</table>

In prefix syllables orthographic <b>e</b> may represent either of the phonemes  /e/ or /&#x25B;/. However, preceding a glottal consonant <b>e</b> is realized as /e/. </p>

In contrast, long <b>ee</b> always corresponds to the mid-front vowel phoneme /e/ and is pronounced as [e]. Thus, in existing Tanacross materials long <b>ee</b> is often used to represent both short /e/ and short /&#x25B;/. In practice, in prefix syllables short <b>e</b> is used almost exclusively to indicate vowel length (short) rather than quality. Thus, in the first example below the <b>e</b> in the first syllable is short, whereas, in the last example the <b>ee</b> in the first syllable (corresponding to the postpositional object prefix <b>nee-</b> is long. In the second example short <b>e</b> represents a lowered mid-front vowel.</p>
<table border="0" align="center" cellpadding="5" cellspacing="5">
<tr>
<td><b>mech’axdekdiix</b> </td>
<td>[me&#x10D;axd&#x25B;ktiix]</td>
<td>'I am teaching him' </td>
</tr>
<tr>
<td><b>xetlghihtii&#322;</b> </td>
<td>[x&#x25B;tlghiht<sup>h</sup>ii&#322;]</td>
<td>'I am driving a sled'</td>
</tr>
<tr>
<td><b>nee'ech’axdehdiix</b></td>
<td>[nee'e&#x10D;axdehtiix]</td>
<td>'she is teaching us'</td>
</tr>
</table>
<center>
