
		
			

<h1>Technical Notes -- apostrophe </h1>
<h2>glottal stop </h2>

Tanacross apostrophe <b> &#8217; </b> is  a voiceless glottal stop. Though written with an apostrophe, it is important to remember than Tanacross glottal stop is a full-fledged consonant, not  a punctuation mark. 

In the practical orthography glottal stop is not written at the beginning of words. Words which are written with an initial vowel are pronounced with an initial glottal stop. Thus, <b> <b>eek</b> </b> 'dress' is pronounced as if it were spelled <b>  <b>&#8217;eek</b> </b>. When prefixes are added which cause the glottal stop to no longer occur at the beginning of the word, then the apostrophe representing the glottal stop must be written. For example, when the first-person possessive prefix is attached to this word the result is <b> sh&#8217;eeg' </b> 'my dress', and not <b> sheeg' </b>.

Note that the apostrophe is also used to indicate <span class="def">ejective</span> sounds <b>tth'</b>, <b>t'</b>, <b>ts'</b>, <b>tl'</b>, <b>ch'</b>, <b>k'</b>. However, the glottal stop is not an ejective sound. 
