Short <b>i</b> and long <b>ii</b> both represent a <span class="def">high front vowel</span> [i]. Short <b>i</b> may be lowered to [&#x26A;] in prefix syllables preceding a <b>n</b>. However, short <b>i</b> is never lowered when it corresponds to the 
second-person singular subject prefix. Also, short <b>i</b> is never lowered when it precedes a glottal consonant (apostrophe or <b>h</b>).  Elsewhere <b>i</b> represents [i]. varies quite a bit in height, ranging from a high front vowel to a mid-high front vowel. <br/><br/>
<b>shtthí'</b> [&#x283;t&#x19F;<sup>h</sup>i&#x294;] ‘my head’<br/>
<b>xd&eacute;ltth'ih</b> [xt&eacute;lt&#x19F;'ih] ‘they are sitting’<br/>
<b>sínt'eh</b>  [s&#x26A;nt'eh] ‘he/she/it is’<br/>
<b>intsax</b> [&#x294;ints<sup>h</sup>ax]  ‘you are crying’ <br/>
<b>ihtsax</b> [&#x294;ihts<sup>h</sup>ax]  ‘I am crying’ <br/>
