Short <b>i</b> and long <b>ii</b> both represent a <span class="def">high front vowel</span> [i]. Short <b>i</b> may be lowered to [&#x26A;] in prefix syllables preceding a <b>n</b>. 

However, short <b>i</b> is never lowered when it corresponds to the 
second-person singular subject prefix.

Also, short <b>i</b> is never lowered when it precedes a glottal consonant (apostrophe or <b>h</b>).

Elsewhere <b>i</b> represents [i]. varies quite a bit in height, ranging from a high front vowel to a mid-high front vowel. </p>
<table border="0" align="center" cellpadding="9" cellspacing="2">
<tr><td><b>shtthí'</b></td><td>[&#x283;t&#x19F;<sup>h</sup>i&#x294;]</td><td>‘my head’</td></tr>
<tr><td><b>xd&eacute;ltth'ih</b></td><td>[xt&eacute;lt&#x19F;'ih]</td><td>‘they are sitting’</td></tr>
<tr><td><b>sínt'eh</b> </td><td>[s&#x26A;nt'eh]</td><td>‘he/she/it is’</td></tr>

<tr><td><b>intsax</b></td>
<td>[&#x294;ints<sup>h</sup>ax] </td><td>‘you are crying’ </td></tr>

<tr><td><b>ihtsax</b></td>
<td>[&#x294;ihts<sup>h</sup>ax] </td><td>‘I am crying’ </td></tr>

</table>

&nbsp;</p>
<center>
