Tanacross <b>k</b> and <b>g</b> are phonologically voiceless aspirated and unaspirated <span class="def">velar stops</span> /k<sup>h</sup>/ and /k/, respectively. However, in stem-initial position these sounds are heavily affricated, being realized as [k<sup>x</sup>] and [k<sup>&#x263;</sup>] (or even [g<sup>&#x263;</sup>]), respectively. For this reason learners often confuse the sounds <b>k</b> and <b>x</b>, and the sounds <b>g</b> and <b>gh</b>. 

At the end of syllables <b>k</b> and <b>g</b> are pronounced as voiceless and voiced stops [k] and [g]. 


