
		
			

<h1>Technical Notes -- &#322; , l </h1>
<h2>lateral fricatives </h2>

Tanacross <b>&#322;</b>  is a voiceless lateral fricative [&#x26C;], and <b>l</b> is a voiced lateral approximant [l]. While <b>l</b> is phonetically an approximant, it patterns phonologically as the voiced counterpart to the voiceless lateral fricative, participating in all relevant phonological voicing alternations. Neighboring languages, such as Han, exhibit a voiced lateral fricative corresponding to the Tanacross <b>l</b> 

Letter <b><u>&#322;</u></b> is a <span class="def"><a href="semi-voiced_tech.html">semi-voiced</a></span> fricative. It can generally be described as beginning voiceless and transitioning to a fully voiced fricative. 


