Tanacross <b>n</b> is a voiced <span class="def">alveolar nasal stop</span>. In stem-initial position its phonetic realization varies between nasal [m], prenasalized [nd], and fully occluded [d]. Note that this fully occluded variant differs from the phoneme written <b>d</b> in the practical orthography, which is realized as a voiceless unaspirated stop [t]. Unlike the variation between the regular and occluded variants of the bilabial nasal, the occurrence of the occluded variant of the alveolar nasal is largely predictable. The occluded variant occurs stem-initially in stems which do not contain another nasal or nasalized vowel. Thus [n&ucirc;un] 'animal' but [nduu] 'island'. <br/><br/>
The distribution of the sounds [nd] versus [d] is more difficult to predict. For at least some speakers the pre-nasalized variant occurs  following first-person singular voiced classifier, i.e., <b>ish-</b> and <b>eg-</b>.
<br/><br/>
<b>medhegndax</b> [me&eth;&#x25B;gndax] 'I forgot' <br/>
<b>medhildax</b> [me&eth;ildax]  'you forgot'
<br/><br/>
In stem-final position the alveolar nasal may occur lengthened, written <b>nn</b>. Thus compare:<br/><br/>
<b>kón'</b> 'fire'<br/>
<b>shkónn'</b> 'my fire'
<br/><br/>
Tanacross <b>nh</b> is a voiceless alveolar nasal stop. It occurs only in stem-final position. <b>n</b> is the voiced counterpart to <b>nh</b>, so that words which end in <b>nh</b> occur with <b>n</b> in their possessed forms. 
<br/><br/>
<b>menh</b> 'lake'<br/>
<b>Dihth&acirc;ad M&#x11B;nn'</b> 'Mansfield Lake' 


 
