All Tanacross vowels except <b>o</b> may occur <span class="def">nasalized</span>, that is, with air flowing through the nose as well as the mouth. A nasalized vowel is pronounced in exactly the same manner as the corresponding plain (oral) vowel, except that air is allowed to flow through the nose as well. Nasalization is indicated with a small hook written under the vowel. The difference between plain and nasalized vowels is important to the meaning of Tanacross words. For example, consider the following contrast. 
<table border="0" align="center" cellpadding="5" cellspacing="5">
  <tr>
    <td>delgeyh</td>
    <td>'white'</td>
  </tr>
  <tr>
    <td>delg&#x119;yh</td>
    <td>'dry'</td>
  </tr>
</table>
