Tanacross contains five consonants which are represented in the practical orthography with an underscore: <b><u>ł</u></b>, <b><u>th</u></b>, <b><u>s</u></b>, <b><u>sh</u></b>, <b><u>x</u></b>. These consonants have been described as <span class="def"> semi-voiced</span> or partially voiced fricatives. They can be informally described as beginning voiceless and transitioning to a voiced sound. 
<br/><br/>
The voicing transition can be seen quite clearly in the following spectrogram for <bsh<u>ł</u>ig'</b> 'my dog'.  Voice bars are not present at the beginning of the lateral fricative <b><u>ł</u></b>, but they are present at the end. 
<br/><br/>
<img src="{{ site.baseurl }}/assets/images/dog(1s).gif" width="400" height="160">
<br/><br/>
For other segments the voicing transition is not quite so evident. For example, compare the voiceless dental fricative <b>th</b> in the following spectrogram for <b>na'ihthet</b> &nbsp;&nbsp;'I am standing'
<br/><br/>
<img src="{{ site.baseurl }}/assets/images/stand(1s).gif" width="400" height="160" align="center">
<br/><br/>
with the semi-voiced fricative in the spectrogram of <b>na'e<u>th</u>et</b> &nbsp;&nbsp;'s/he is standing'.
<br/><br/>
<img src="{{ site.baseurl }}/assets/images/stand(3s).gif" width="400" height="160" style="align:center;">
<br/><br/>
No clear evidence of voicing is present in either spectrogram. The distinguishing feature is the presence of a much greater degree of high-amplitude noise in the voiceless segment. It is this observation which leads to the characterization of the voiceless segments as <span class="def">fortis</span>, and the semi-voiced and voiced fricatives as <span class="def">lenis</span>. 
<br/><br/>
For more information see Holton (2001) <a href="https://www.jstor.org/stable/1265754">Fortis and lenis fricatives in Tanacross Athapaskan</a>. <i>International Journal of American Linguistics.</i>
