body {
	margin: 0% 5% 0% 5%;
	background-color: #FFFF99;
}


p , td , h2, h3, h4, li { font-family: Helvetica, Arial, sans-serif; }

h2 {text-align: center}

p {font-size:larger}

.def
{
	font-variant: small-caps;
}

h1
{
	color: blue;
	font-weight: bold;
	text-align: center;
	font-size:x-large;
	font-family: Helvetica, Arial, sans-serif;
	 
}
.fineprint
{
	font-size: x-small;
	font-family: sans-serif;
}

a:link
{
	color: #CC3300;
	text-decoration: none;
}

a:active
{
	color: #DA8247;
	text-decoration: none;
}

a:visited
{
	color: #8F6345;
	text-decoration: none;
}
