Short <b>u</b> and long <b>uu</b> both represent a <span class="def">high back vowel</span> [u]. When it occurs between velar consonants, the phoneme /u/ may be lowered to [o], in which case it is generally written <b>o</b> rather than <b>u</b>. Thus, note the difference in the prestem vowel in the following examples. </p>
<table border="0" align="center" cellpadding="9" cellspacing="2">
<tr>
<td>naxghogdeg</td>
<td>'I should tell a story' </td>
</tr>
<tr>
<td>naxghuldeg</td>
<td>'you should tell a story' </td>
</tr>
</table>