Tanacross <b>yh</b> is a voiceless <span class="def">palatal approximant</span> (sonorant) [&#xE7;
<!--check this!!! -->
				]. While it may sometimes be produced with slight friction, it patterns phonologically as an approximant, not a fricative. It is restricted to syllable-final position.
			</p>
			<p align="left">Tanacross <b>y</b> is a voiced palatal approximant [j]. It may occur in both onset and coda positions.
			</p>
			<p align="left">The contrast between <b>yh</b> and its voiced counterpart <b>y</b> can be seen in pairs <b>xeyh</b> 'spruce roots' versus <b>xey</b> 'winter'.
			</p>
			<p align="left">At the end of a syllable <b>y</b> may occur lengthened, written <b>yy</b>. </p>
		</center>
		<blockquote>
				<center>
					<b>sh'&#x1CE;ayy'</b>&nbsp;&nbsp; 'my snowshoes'
				</center>
		</blockquote>
