{% assign vidpath = site.baseurl | append: "/assets/mp4/" %}
<p><img src="{{site.baseurl}}/assets/images/question.png" style="float:left;margin-right:10px;width:25px;">
Sentences with contrasting <span class="def">palatal</span> (SH-like) sounds.</p>

<center>
<video controls src="{{vidpath}}/sib2_sent1.mp4">Your browser does not support the video element.</video> 
<p><span class="tnc">N<u>sh</u>é'e <u>sh</u>étth sheen <u>sh</u>íi néh'ęh.</span><br/>
<span class="gloss">Your (man's) son saw snow in summer.</span></p>
</center>

<center>
<video controls src="{{vidpath}}/sib2_sent1.mp4">Your browser does not support the video element.</video>
<p><span class="tnc">Shos sh<u>ł</u>ǐig' <u>sh</u>ax <u>sh</u>íi éedah.</span><br/>
<span class="gloss">The bear is in my dog's house.</span></p>
</center>

<center>
<video controls src="{{vidpath}}/sib2_sent1.mp4">Your browser does not support the video element.</video> 
<p><span class="tnc">Shchâay iin sh<u>sh</u>ax <u>sh</u>íi xdéltth'ih.</span><br/>
<span class="gloss">My grandchildren are staying in my house.</span></p>
</center>
