<p><img src="{{site.baseurl}}/assets/images/question.png" style="float:left;margin-right:10px;width:25px;">
Sentence contrasting <b>t</b> and <b>d</b> and <b>t'</b> at the start of syllables.

<div class="container">
<div class="videobox">
<div class="video">
<video src="{{site.vidpath}}t-d-t-glot-sent.mp4" controls onclick="play(event)">Your browser does not support video.</video></div>
<div class="text">
<span class="tnc">Téł delt'êl.</span>
<span class="gloss">The socks are red.</span>
</div></div>
</div>
