<p><img src="{{site.baseurl}}/assets/images/question.png" style="float:left;margin-right:10px;width:25px;">
Sentences contrasting <span class="def">velar sounds</span> -- sounds produced in the back of the mouth.</p>

<div class="container">
<div class="videobox">
<div class="video">
<video src="{{site.vidpath}}velar_sent1.mp4" controls onclick="play(event)">Your browser does not support video.</video></div>
<div class="text">
<span class="tnc">Gah gha xuu'éł naxghogdek.</span> 
<span class="gloss">I am telling them a story about a rabbit.</span>
</div></div>
<div class="videobox">
<div class="video">
<video src="{{site.vidpath}}velar_sent2.mp4" controls onclick="play(event)">Your browser does not support video.</video></div>
<div class="text">
<span class="tnc">Naagêddh ké' k'ée shgáal' aa<u>x</u>á' nék-'ęh.</span> 
<span class="gloss">I see fox tracks near my rabbit snare.</span>
</div></div>
<div class="videobox">
<div class="video">
<video src="{{site.vidpath}}velar_sent3.mp4" controls onclick="play(event)">Your browser does not support video.</video></div>
<div class="text">
<span class="tnc">Wuk'îig yaa<u>sh</u>ěg' ts'enh xetl gaay xaa<u>x</u>eeł.</span> 
<span class="gloss">They are packing the small sled down from the distant ridge.</span>
</div></div>
</div>
