<p><img src="{{site.baseurl}}/assets/images/question.png" style="float:left;margin-right:10px;width:25px;">
Sentences  contrasting <b>x</b> and <b>h</b> sounds.</p>

<div class="container">
<div class="videobox">
<div class="video">
<video src="{{site.vidpath}}x_h_sent1.mp4" controls onclick="play(event)">Your browser does not support video.</video></div>
<div class="text">
<span class="tnc">Hąháalá stáanét-t'ek.</span> 
<span class="gloss">The oldsquaw duck quickly flew away.</span>
</div></div>
<div class="videobox">
<div class="video">
<video src="{{site.vidpath}}x_h_sent2.mp4" controls onclick="play(event)">Your browser does not support video.</video></div>
<div class="text">
<span class="tnc">N<u>x</u>eh xah ts'į́ xen aahaał.</span> 
<span class="gloss">You sister-in-law is walking quickly toward the goose.</span>
</div></div>
</div>


