---
layout: default
nav_exclude: true
---

<h1>Letter {{ page.display }}</h1>

{% include letter_navigation.html %}

{{ page.description }}
<br/>

<br/>Click on a video below to see and hear {{ page.speaker }} pronouncing words with <b>{{ page.display }}</b>.

{% comment %} video, tnc text and gloss now stored in csv {% endcomment %}
{% assign vid = site.data.transposed | where: "letter", page.letter %}
{% if vid.size > 0 %}
<div class="container">
{% for row in vid %}
<div class="videobox">
<div class="video">
<video src="{{ row.media | prepend: site.vidpath | append: ".mp4" }}" controls onclick="play(event)">Your browser does not support video.</video></div>
<div class="text">
<span class="tnc">{{ row.tnc }}</span> 
<span class="gloss">{{ row.gloss }}</span>
</div></div>
{% endfor %}
</div>
{% endif %}

{{ content }}


{% if page.tech %}
{% assign f = page.tech | append: "_tech.html" | prepend: "tech/" %}
<p class="tech">{% include {{f}} %}</p>
{% endif %}

{% assign sim = site.data.similar | where: "letter", page.letter %}
{% if sim.size > 0 %}
	<p class="simlink">similar sounds</p>
	<p class="simsounds">{% for row in sim %}
		<a href="{{ row.similar | append: '.html' }}">{{ row.display }}</a>&nbsp;&nbsp;
		{% endfor %}</p>
{% endif %}

{% include letter_navigation.html %}


	